li {
  color: blue;
}

.todo {
  font-size: 30px;
  color: olive;
}

.done {
  color: gray;
  text-decoration: line-through;
  opacity: 50%;
}

/* b {
  color: orangered;
} */

.win {
  background-color: rgba(0, 255, 0, 0.3);
}
.loss {
  background-color: rgba(255, 0, 0, 0.3);
}

/* The impossible button demo */
button {
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.3s ease-in-out;
}
