* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  max-height: 100vh;
  width: 100%;
  max-width: 100vw;
  overflow: hidden;
}

/* li {
  color: blue;
} */

/* .todo {
  font-size: 30px;
  color: olive;
} */

/* .done {
  color: gray;
  text-decoration: line-through;
  opacity: 50%;
} */

/* b {
  color: orangered;
} */

/* .win {
  background-color: rgba(0, 255, 0, 0.3);
} */
/* .loss {
  background-color: rgba(255, 0, 0, 0.3);
} */

/* The impossible button demo */
/* button {
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.3s ease-in-out;
} */

/* #boxes {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* .box {
  width: 200px;
  height: 150px;
} */

/* h1 {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translate(-50%);
  font-size: 3rem;
} */

/* ================ Coin Toss Game ===================*/

/* img {
  width: 4rem;
  position: absolute;
  top: 100px;
  left: 100px;
}

img#coin {
  transition: all 1s ease-in-out;
}

img#player {
  top: 100px;
  transition: all 0.1s ease-in-out;
}

h1.postScore {
  position: float;
  left: 0;
} */

/* ================ Form Events / PreventDefault ===================*/

section > form {
  padding: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

form input,
select {
  margin-bottom: 15px;
  padding: 5px;
}

img {
  font-size: 2rem;
}
